body{
  font-family: sans-serif;
  margin: auto;
  background: rgb(213 226 232);
}

header{
 background: rgb(114 143 156);
 text-align: center;
 font-size: 2em;
  font-variant: small-caps;
}

ul{
  text-align: left; 
}

figcaption{
  font-style: italic;
}

main.intro{
 display: flex;
 flex-flow: row-wrap;
}

div.content{
  font-size: 1.5em;
  width: 50%;
  margin: auto;
}

main > h2{
  text-align: center;
  font-variant: small-caps;
}

div.left{
  float: left;
  margin: auto;
}

div.right{
  float: right;
  font-size: 1.5em;
  border-style: double;
  border-width: 7px;
  width: 50%;
  margin: auto;
}


footer{
	display: block;
	text-align: center;
	margin-left: auto;
	margin-right: auto;

}

