body{
  text-align: center;
  font-family: sans-serif;
  margin: auto;
  background: rgb(213 226 232);
}

header{
 background: rgb(114 143 156); 
  font-variant: small-caps;
}

ul{
  text-align: left; 
}

.caption{
  font-style: italic;
}

div.left{
  float: left;
}

div.right{
  float: right;
}

