body{
  text-align: center;
  font-family: sans-serif;
  margin: auto;
  background: rgb(213 226 232);
}

header{
 background: rgb(114 143 156); 
  font-variant: small-caps;
}

ul{
  text-align: left; 
}

.caption{
  font-style: italic;
}

main.intro{
 display: flex;
 flex-flow: row-wrap;
 margin-top: auto;
 margin-bottom: auto;
}

img{
   padding: 10px;
}

div.left{
  float: left;
}

div.right{
  float: right;
}

div.center{
  display: block;
}

footer{
	display: block;
	margin-left: auto;
	margin-right: auto;

}

