h2{
  width: 100%;
  text-align: center;
}

#displayTotal{
  width: 100%;
  text-align: center;
}

#menu{
  border: 3px solid white;
  border-radius: 15px;
  width: 50%;
  margin: auto;
  overflow: auto;
}

#menu p{
  text-align: center;
}


/* the .checkboxes -> input, and label span styles align the checkboxes with their labels */
.checkboxes {
  border: 3px solid white;
 display: inline-block; 
  margin: 0 auto;
 white-space: nowrap;
}

.checkboxes input {
  vertical-align: middle;
}

.checkboxes label span {
  vertical-align: middle;
}

#submit{
  width: 30%;
  display: block;
  margin: 25px auto;
  padding: 5px;
  border-radius: 15px;
}
