h2{
  width: 100%;
  text-align: center;
}

#displayTotal{
  width: 100%;
  text-align: center;
}

#menu{
  border: 3px solid white;
  border-radius: 15px;
  width: 50%;
  padding: 20px;
  margin: auto;
}

input[type=text]:focus {
  background-color: #dec4d6;
}

input{
  display: inline-block;
  width: 100%;
}

label{
  display: inline-block;
}

#submit{
  width: 30%;
  display: block;
  margin: 0 auto;
  padding: 3px;
}
