h2{
  width: 100%;
  text-align: center;
}

#displayTotal{
  width: 100%;
  text-align: center;
}

#menu{
  border: 3px solid white;
  border-radius: 15px;
  width: 50%;
  padding: 30px;;
  margin: auto;
}

.menu p{
  text-align: center;
}

.checkboxes{
  margin: auto;
}

/* the .checkboxes -> label, input, and span styles align the checkboxes with their labels */
.checkboxes label{
 display: inline-block; 
 padding-right: 10px;
 white-space: nowrap;
}

.checkboxes input {
  vertical-align: middle;
}

.checkboxes label span {
  vertical-align: middle;
}

#submit{
  width: 30%;
  display: block;
  margin: 0 auto;
  padding: 3px;
}
