#h2{
  position: fixed;
  z-index: 10;
  width: 100%;
  text-align: center;
  border: 3px solid white;
}

#greeting{
  position: fixed;
  z-index: 10;
  width: 100%;
  text-align: center;
  border: 3px solid white;
}

#custInfo{
  border: 3px solid white;
  border-radius: 15px;
  width: 30%;
  padding: 20px;
  margin: auto;
  
}

#output{
  width: 60%;
  padding: 20px;
  margin: auto;
}

input[type=text]:focus {
  background-color: #dec4d6;
}
