h2{
  width: 100%;
  text-align: center;
}

#greeting{
  width: 100%;
  text-align: center;
}

#custInfo{
  border: 3px solid white;
  border-radius: 15px;
  width: 30%;
  padding: 20px;
  margin: auto;
  
}

#output{
  width: 100%;
  padding: 20px;
  margin: auto;
  text-align: center;
}

input[type=text]:focus {
  background-color: #dec4d6;
}

label{
  display: inline-block;
  width: 150px;
  text-align: right;
}
