
body{
  margin: auto;
  background-color: #0e3245;
  color: white;
  font-family: 'Nanum Pen Script', cursive;
  font-size: 1.5em;
  letter-spacing: 0.2em;
  }

header{
  width: 100%;
  text-align: center;
  padding-bottom: 20px;
  margin-top: 0;
}

.container{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item{
  flex: 1 1 30%;
  padding: 20px;
  margin: auto;
}

h1{
  color: #dec4d6;
  font-size: 2.5em;
  font-variant: small-caps;
}

h2{
   color: #b8e0f6;
   font-size: 1.75em;
   font-variant: small-caps;
}

p{
color: white;
text-indent: 2em;
}

ul{
  list-style-type: none;
}

li:not(:last-child) {
    margin-bottom: 25px;
}

.dot1 {
  height: 50px;
  width: 50px;
  background-color: #dec4d6;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
}

.dot2 {
  height: 50px;
  width: 50px;
  background-color: #b8e0f6;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
}

.dot3 {
  height: 50px;
  width: 50px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
}

.dot4 {
  height: 50px;
  width: 50px;
  background-color: #0e3245;
  border-radius: 50%;
  display: inline-block;
  border:1px solid white; 
  vertical-align: middle;
}


footer{
	display: block;
	font-variant: small-caps;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

q{
  font-style: italic;
  padding: 20px;
}

a:link{
  color: #dec4d6;
  text-decoration: none;
}

a:visited{
  color: #dec4d6;
}

a:hover{
  color: white;
  text-decoration: underline;
}

a:active{
  color: white;
}
