
body{
  margin: auto;
  background-color: #0e3245;
  color: white;
  font-variant: small-caps;
  font-family: cursive;
  }

header{
  text-align: center;
  padding: 0;
  margin-top: 0;
}

.mission{
  width: 30%;
  padding: 20px;
}

h1{
  color: #dec4d6;	
}

h2{
   color: #b8e0f6;
}

p{
color: white;
}

ul{
  list-style-type: none;
}

li:not(:last-child) {
    margin-bottom: 10px;
}

.dot1 {
  height: 50px;
  width: 50px;
  background-color: #dec4d6;
  border-radius: 50%;
  display: inline-block;
}

.dot2 {
  height: 50px;
  width: 50px;
  background-color: #b8e0f6;
  border-radius: 50%;
  display: inline-block;
}

.dot3 {
  height: 50px;
  width: 50px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
}

.dot4 {
  height: 50px;
  width: 50px;
  background-color: #0e3245;
  border-radius: 50%;
  display: inline-block;
  border:1px solid white; 
}


footer{
	display: block;
	font-variant: small-caps;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

a:link{
  color: #37667e;
  text-decoration: none;
}

a:visited{
  color: #37667e;
}

a:hover{
  color: white;
  text-decoration: underline;
}

a:active{
  color: #dec4d6;
}
