
body{
  margin: 0;
  background-color: #203e4d;
  font-variant: small-caps;
  font-family: sans-serif;
  }

header{
  text-align: center;
  padding: 0;
  margin-top: 0;
}

h1{
  color: #dec4d6;	
}

h2{
   color: #a4cce3;
}

p{
color: white;
}

ul.colors{
  list-style-type: none;
}

ul.colors > li{
  vertical-align: middle;
}

.dot1 {
  height: 25px;
  width: 25px;
  background-color: #37667e;
  border-radius: 50%;
  display: inline-block;
}

.dot2 {
  height: 25px;
  width: 25px;
  background-color: #a4cce3;
  border-radius: 50%;
  display: inline-block;
}

.dot3 {
  height: 25px;
  width: 25px;
  background-color: #dec4d6;
  border-radius: 50%;
  display: inline-block;
}

.dot4 {
  height: 25px;
  width: 25px;
  background-color: #7b92aa;
  border-radius: 50%;
  display: inline-block;
}

.dot5 {
  height: 25px;
  width: 25px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
}

footer{
	display: block;
	font-variant: small-caps;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

a:link{
  color: #37667e;
  text-decoration: none;
}

a:visited{
  color: #37667e;
}

a:hover{
  color: white;
  text-decoration: underline;
}

a:active{
  color: #dec4d6;
}
