// Default Brand Styles

body{
  margin: 0;
  background-color: #0e3245;
  color: #F9F6EE;
  font-family: 'Sriracha', cursive;
  font-size: 1.2em;
  letter-spacing: 0.2em;
  }

header{
  width: 100%;
  text-align: center;
  margin-top: 0;
  line-height: 0.5;
}

.container{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item{
  flex: 1 1 30%;
  padding: 20px;
  margin: auto;
}

h1{
  color: #dec4d6;
  font-size: 2.5em;
}

h2{
   color: #b8e0f6;
   font-size: 1.75em;
}

p{
color: white;
text-indent: 2em;
}

ul{
  list-style-type: none;
}

li:not(:last-child) {
    margin-bottom: 25px;
}

.dot1 {
  height: 50px;
  width: 50px;
  background-color: #dec4d6;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
}

.dot2 {
  height: 50px;
  width: 50px;
  background-color: #b8e0f6;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
}

.dot3 {
  height: 50px;
  width: 50px;
  background-color: #F9F6EE;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
}

.dot4 {
  height: 50px;
  width: 50px;
  background-color: #0e3245;
  border-radius: 50%;
  display: inline-block;
  border:1px solid white; 
  vertical-align: middle;
}


footer{
	display: block;
	font-size: 0.9em;
	font-variant: small-caps;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}


a:link{
  color: #dec4d6;
  text-decoration: none;
}

a:visited{
  color: #dec4d6;
}

a:hover{
  color: white;
  text-decoration: underline;
}

a:active{
  color: white;
}

.center{
  width: 100%;
  text-align: center;
}
  

//FizzBuzz Styles

#greeting{
  width: 100%;
  text-align: center;
}

#custInfo{
  border: 3px solid white;
  border-radius: 15px;
  width: 24%;
  padding: 20px;
  margin: auto;
  
}


input[type=text]:focus {
  background-color: #dec4d6;
}


#submit{
  width: 30%;
  display: block;
  margin: 0 auto;
  padding: 3px;
}

#fizzbuzz_text {
  margin: auto;
  width: 28%;
  padding: 10px;
  text-align: justify;
  line-height: 0.5em;
}

//Demonstrate SWTL JS Styles

#displayTotal{
  width: 100%;
  text-align: center;
}

#menu{
  border: 3px solid white;
  border-radius: 15px;
  width: 50%;
  margin: auto;
  overflow: hidden;
}

#menu p{
  text-align: center;
}


/* the .checkboxes -> input, and label span styles align the checkboxes with their labels */
.checkboxes {
  display: inline-block; 
  white-space: nowrap;
  padding: 0% 30%;
}

.checkboxes input {
  vertical-align: middle;
}

.checkboxes label span {
  vertical-align: middle;
}

#submit{
  width: 30%;
  display: block;
  margin: 25px auto;
  padding: 5px;
  border-radius: 15px;
}








