h2{
  width: 100%;
  text-align: center;
}

#greeting{
  width: 100%;
  text-align: center;
}

#custInfo{
  border: 3px solid white;
  border-radius: 15px;
  width: 30%;
  padding: 20px;
  margin: auto;
  
}


input[type=text]:focus {
  background-color: #dec4d6;
}


#submit{
  width: 30%;
  display: block;
  margin: 0 auto;
  padding: 3px;
}

#fizzbuzz_text {
  margin: auto;
  width: 33%;
  padding: 10px;
  text-align: justify;
}
