body{
  font-family: sans-serif;
  margin: auto;
  background: rgb(213 226 232);
}

header{
 background: rgb(114 143 156);
 text-align: center;
 line-height: 2;
 font-size: 2em;
  font-variant: small-caps;
}

main{
  width: 100%;
}

ul{
  text-align: left; 
}


figcaption{
  font-style: italic;
}


div.content{
  font-size: 1.5em;
  width: 50%;
  margin: auto;
}

div.toc{
  font-size: 2em;
  width: 10%;
  margin: auto;
}

main.intro{
 display: flex;
  flex-wrap: wrap;
}

main > h2{
  text-align: center;
  font-variant: small-caps;
}

div.left{
  margin: auto;
}

div.right{
  font-size: 1.5em;
  border-style: double;
  border-width: 7px;
  width: 50%;
  margin: auto;
  border-color: rgb(77 79 82);
}

table{
  width: 80%;
  margin: 0 auto;
  background-color: white;
}

table, th, td {
  border: 2px solid black;
  border-collapse: collapse;
	
}

th{
  font-size: 1.5em;
  font-weight: bold;
}

td{
  font-size: 1 em;
  text-align: center;
}

td:nth-child(even), th:nth-child(even) {
  color: rgb(61, 28, 92);
}

td:nth-child(odd), th:nth-child(odd) {
  color: rgb(25, 43, 77);
}


footer{
	display: block;
	font-variant: small-caps;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

a:link{
  color: rgb(114 143 156);
  text-decoration: none;
}

a:visited{
  color: rgb(114 143 156);
}

a:hover{
  color: rgb(114 143 156);
  text-decoration: underline;
}

a:active{
  color: rgb(163 49 156);
}

