body{
  font-family: sans-serif;
  margin: auto;
  background: rgb(213 226 232);
}

header{
 background: rgb(114 143 156);
 text-align: center;
 line-height: 2;
 font-size: 2em;
  font-variant: small-caps;
}

main{
  width: 100%;
}

ul{
  text-align: left; 
}


figcaption{
  font-style: italic;
}


div.content{
  font-size: 1.5em;
  width: 50%;
  margin: auto;
}

div.toc{
  font-size: 2em;
  width: 15%;
  margin: auto;
}

main.intro{
 display: flex;
  flex-wrap: wrap;
}

main > h2{
  text-align: center;
  font-variant: small-caps;
}

div.left{
  margin: auto;
}

div.right{
  font-size: 1.5em;
  border-style: double;
  border-width: 7px;
  width: 50%;
  margin: auto;
  border-color: rgb(77 79 82);
}

table{
  width: 80%;
  margin: 0 auto;
}

table, th, td {
  border: 3px solid rgb(74, 71, 77);
  border-collapse: collapse;
  line-height: 2;
}

th{
  font-size: 2em;
  font-weight: bold;
}

td{
  font-size: 1.5em;
}

td:nth-child(even), th:nth-child(even) {
  background-color: rgb(191, 162, 219);
}

td:nth-child(odd), th:nth-child(odd) {
  background-color: rgb(235, 171, 187);
}


footer{
	display: block;
	font-variant: small-caps;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

a:link{
  color: rgb(114 143 156);
  text-decoration: none;
}

a:visited{
  color: rgb(114 143 156);
}

a:hover{
  color: rgb(114 143 156);
  text-decoration: underline;
}

a:active{
  color: rgb(163 49 156);
}

